.bg-image{
    background: url("https://thumbs.dreamstime.com/b/os-colaboradores-team-tarefas-semanais-planeando-da-programa%C3%A7%C3%A3o-na-placa-tarefa-conceito-liso-do-vetor-dos-trabalhos-de-equipa-e-109364079.jpg");
    /*background-color: #00E676;*/
    background-position: center;
    background-size: cover;
}

label{
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: black;
}

input{
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 0.8rem;
}

.helptext, li{
    display: none;
}